#banner {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: rgb(171, 157, 250);
  margin-top: 80px;
  border-radius: 10px;
  font-family: "Poppins", sans-serif;
}
#logoLeft {
  height: 50%;
  width: 100%;
  margin: auto;
  margin: 20px;
}
#logoRight {
  height: 150%;
  margin-top: -50px;
}
#banner > div > h2 {
  width: 90%;
  margin: auto;
  margin-top: 20px;
  color: white;
}
